<nav class="navbar mainNavbar justify-content-between">
    <a href="./" class="btn main text-uppercase">Regresar</a>
    <p class="navbar-brand navText">Modulo mercado libre</p>
    <picture class="">
        <source srcset="" type="image/svg+xml">
        <a href="https://www.mercadolibre.com.co/">
            <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/161E/production/_113026650_1-1.jpg" class="img-fluid img-thumbnail" width="100" height="100">
        </a>        
    </picture>
    <li class="navbar-brand nav-item dropdown">
        <a class="nav-link dropdown-toggle mainToogle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-display"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="data"><i class="bi bi-tools">  Datos</i></a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="dashboard"><i class="bi bi-file-bar-graph-fill">  Dashboard</i></a>
            </div>
        </div>
    </li>
</nav>
